container_commands:
  01_sh_executable:
    command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "TeachAssist.settings"
    "PYTHONPATH": "/opt/python/current/app/TeachAssist:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: TeachAssist/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/staticfiles/": "www/static/"
