option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "TeachAssist.settings"
    "PYTHONPATH": "/opt/python/current/app/TeachAssist:$PYTHONPATH"
    SECRET_KEY: "vghwilf&#(vg4v61i24d=)@&)4nf7g)0w$$f3l5dp1%#q0&k6j"
    AWS_ACCESS_KEY_ID: "AKIAUKZMSF22UMAB4AAP"
    AWS_SECRET_ACCESS_KEY: "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"
    USE_S3: 'TRUE'
    GOOGLE_MAPS_API_KEY: "AIzaSyBLjXOk51pE-rRddkuHJeHIFVf_90rCYko"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: TeachAssist/wsgi.py
    NumProcesses: 3
    NumThreads: 20
