container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "TeachAssist.settings"
    SECRET_KEY: "vghwilf&#(vg4v61i24d=)@&)4nf7g)0w$$f3l5dp1%#q0&k6j"
    AWS_ACCESS_KEY_ID: "AKIAUKZMSF22SQWJ74MH"
    AWS_SECRET_ACCESS_KEY: "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"
    USE_S3: 'TRUE'
    GOOGLE_MAPS_API_KEY: "AIzaSyBLjXOk51pE-rRddkuHJeHIFVf_90rCYko"
    RDS_HOSTNAME: "teachassistdb.c2hzbg5ap58r.us-west-1.rds.amazonaws.com"
    RDS_PORT: "5432"
    RDS_DB_NAME: "teachassistdb"
    RDS_USERNAME: "chuckthemole"
    RDS_PASSWORD: "Shelly123!"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: TeachAssist/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    /html: static
    /static: staticfiles
