<!-- index renders a list of all the teaching locations in the DB -->
<!-- should implement a search button at some point -->
{% extends "teach/base.html" %}

{% block content %}

<div class="columns is-centered">
  <div class="publish-form columns main-background panel-block">

    <form id="subject_class_dropdown" action="{% url 'lesson:create_lesson' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="column box front-background">
        <h1 class="title is-3 has-text-centered">
          <span style="color:#1496ed">
            {{ user.username }}
            <br>
          </span>
        </h1>
        <h4 class="title is-5 has-text-centered">
          <span style="color:white;">
            What subject? What lesson?
          </span>
        </h4>
        {% if error %}
        <h3 style="color: red">{{ error }}</h3>
        {% endif %}



        <fieldset>

          <legend>
            <span style="color:white;">
              <label>Choose a subject:</label>
            </span>
          </legend>
          <div class="select is-rounded is-small is-focused is-info">
            <select name="subject" id="subject">
              <option value="math">Math</option>
              <option value="science">Science</option>
              <option value="english">English</option>
              <option value="history">History</option>
            </select>
          </div>

          <!--
          <div class="field has-addons is-small">
            <div class="control">
              <input class="input is-rounded is-small" type="text" placeholder="Add Subject">
            </div>
            <div class="control">
              <button class="button is-info is-rounded is-small" onclick="addSubject()">
                Add Subject
              </button>
            </div>
          </div>
        -->

          <legend>
            <span style="color:white;">
              <label>Choose a class:</label>
            </span>
          </legend>
          <div class="select is-rounded is-small is-hovered is-info">
            <select name="choices" id="choices">
              <!-- populated using JavaScript -->
            </select>
          </div>

          <!--
          <div class="field has-addons is-small">
            <div class="control">
              <input class="input is-rounded is-small" id="add_class" type="text" placeholder="Add Class">
            </div>
            <div class="control">
              <button class="button is-info is-rounded is-small" onclick="addClass(); return false;">
                Add Class
              </button>
            </div>
          </div>
          -->

        </fieldset>
        <br>


        <br><br>

        <div class="field">
          <div class="control">
            <label class="label">
              <span style="color:red;">*</span><span style="color:white;">
                Lesson Name
              </span>
            </label>
            <input class="input is-primary is-rounded" placeholder="The name of your lesson..." type="text" name="name">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">
              <span style="color:red;">*</span><span style="color:white;">
                Lesson description
              </span>
            </label>
            <input class="input is-primary is-large is-rounded textarea" placeholder="A short description..." name="description">
          </div>
        </div>

        <div class="control">
          <label class="radio">
            <input type="radio" id="public" name="is_public" value="public" checked>
            public
          </label>
          <label class="radio">
            <input type="radio" id="private" name="is_public" value="private">
            private
          </label>
        </div>

        <br>

        <div class="columns is-centered">
          <div class="inline-child-block">
            <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>
            <p>
              {{ form.as_p }}
              <!--<label class="button is-small is-rounded" for="file" style="cursor: pointer;">
                Upload Image
              </label>-->
            </p>
          </div>
          <div class="inline-child-block">
            <img id="output" width="100">
          </div>
        </div>

        <script>
          var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
          };
        </script>

        <div class="field">
          <div class="control">
            <button class="button is-success is-rounded is-fullwidth" type="submit" value="Publish">
              Publish
            </button>&nbsp;
          </div>
        </div>

        {% load static %}
        <script type='text/javascript' src="{% static 'teach/js/select_dynamic_options.js' %}"></script>
      </div>

    </form>
  </div>
</div>
{% endblock content %}
