<!-- index renders a list of all the teaching locations in the DB -->
<!-- should implement a search button at some point -->
{% extends "teach/base.html" %}

{% block content %}

<div class="columns is-centered">
  <div class="publish-form columns main-background panel-block">
    <div class="column box front-background">
      <h1 class="title is-3 has-text-centered">
        <span style="color:#1496ed">
          {{ user.username }}
          <br>
        </span>
      </h1>
      <h4 class="title is-5 has-text-centered">
        <span style="color:white;">
          What subject? What lesson?
        </span>
      </h4>
      {% if error %}
      <h3 style="color: red">{{ error }}</h3>
      {% endif %}

      <form id="create_lesson" action="{% url 'lesson:create_lesson' %}" method="post">
        {% csrf_token %}

        <fieldset>

          <legend>
            <span style="color:white;">
              <label>Choose a subject:</label>
            </span>
          </legend>
          <div class="select is-rounded is-small is-focused is-info">
            <select name="subject">
              <option value="math">Math</option>
              <option value="science">Science</option>
              <option value="english">English</option>
              <option value="history">History</option>
            </select>
          </div>
          <div class="field has-addons is-small">
            <div class="control">
              <input class="input is-rounded is-small" type="text" placeholder="Add Subject">
            </div>
            <div class="control">
              <button class="button is-info is-rounded is-small" onclick="addSubject()">
                Add Subject
              </button>
            </div>
          </div>

          <legend>
            <span style="color:white;">
              <label>Choose a classs:</label>
            </span>
          </legend>
          <div class="select is-rounded is-small is-hovered is-info">
            <select name="choices" id="choices">
              <!-- populated using JavaScript -->
            </select>
          </div>
          <div class="field has-addons is-small">
            <div class="control">
              <input class="input is-rounded is-small" type="text" placeholder="Add Subject">
            </div>
            <div class="control">
              <button class="button is-info is-rounded is-small" onclick="addClass()">
                Add Class
              </button>
            </div>
          </div>

        </fieldset>
        <br>


        <br><br>

        <div class="field">
          <div class="control">
            <label class="label">
              <span style="color:red;">*</span><span style="color:white;">
                Lesson Name
              </span>
            </label>
            <input class="input is-primary is-rounded" placeholder="The name of your lesson..." type="text" name="name">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">
              <span style="color:red;">*</span><span style="color:white;">
                Lesson description
              </span>
            </label>
            <input class="input is-primary is-large is-rounded" placeholder="A short description..." type="text" name="description">
          </div>
        </div>

        <!--
            <label class="checkbox">
              <br>
              Is this where you live?
              <input type="checkbox"  id="my_location" name="my_location" />
            </label>

            <label class="checkbox">
              <br>
              Or are you visiting?
              <input type="checkbox"  id="visiting" name="visiting" />
            </label>
            -->

        <br><br><br>

        <div class="field">
          <div class="control">
            <button class="button is-success is-rounded is-fullwidth" type="submit" value="Publish">
              Publish
            </button>&nbsp;
          </div>
        </div>

      </form>

      {% load static %}
      <script type='text/javascript' src="{% static 'teach/js/select_dynamic_options.js' %}">
        $(document).ready(fireWhenReady);
      </script>

    </div>
  </div>
</div>
{% endblock content %}
