<!-- show a lesson belonging to any user  -->
{% extends "teach/base.html" %}

{% block content %}

{% load static %}

<!--<div class="no-scroll">-->
<br>
<div style="margin: auto;">
  <center>
    <div class="box front-background tile is-8 is-vertical">
      <div class="tile is-ancestor">
        <div class="tile is-vertical has-text-centered alt-front-backgroud">
          <h1 class="title is-2">
            <span style="color:white;">
              Lesson added by:
            </span>
            <span style="color:#1496ed">
              {{ lesson.teacher.user.username }}
            </span>
          </h1>
          {% if not lesson.is_public %}
          <h3 style="color: red"><b>This lesson is private.<b></h3>
          {% endif %}
          <h2>
            <span style="color:white;">
              <u>Subject</u>: <b class="is-capitalized">{{ lesson.subject }}</b>
              <br>
              <u>Class</u>: <b class="is-capitalized">{{ lesson.subject_class }}</b>
              <br>
              <small>
                Created: {{lesson.created}}
                <br>
                Updated: {{lesson.updated}}
              </small>
            </span>
            <br>
          </h2>
        </div>
      </div>
    </div>
  </center>
</div>

<br><br>
<center>
  <div class="parent columns">
    <div class="column">
      <div class="parent main-background" style='width: 80%; height: 80%;'>

        <div class="columns col-container is-centered">
          <div class="scrollable child inline-block-child main-background" style='width: 45%; height: 45%;'>
            <article>
              {% if lesson.img %}
              <div class="box alt-front-background">
                <a href="{% url 'lesson:show_lesson' lesson.id %}">
                  <div class="container-img">
                    <figure class="image is-1by1">
                      <img src="{{ lesson.img.url }}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
                    </figure>
                    <img class="icon" src="{{ lesson.icon }}">
                  </div>
                </a>
              </div>
              {% endif %}
            </article>
          </div>
          <div class="child inline-block-child main-backgroud" style='width: 45%; height: 45%;'>
            <div class="box front-background tile is-fullwidth">
              <span style="color:#1496ed">
                <u>Lesson Name</u>: <b class="is-capitalized">{{ lesson.lesson_name}}</b>
              </span>
            </div>
            <div class="box main-background tile is-fullwidth">
              <span style="color:white;">
                <div class="columns">
                  <div class="column">
                    <u>Topic</u>: <b class="is-capitalized">{{ lesson.topic }}</b>
                  </div>
                  <div class="column">
                    {{ lesson.description }}
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <center>
              <div class="parent main-background" style='width: 90%; height: 90%;'>

                {% if user.id == lesson.teacher.user.id %}
                <a class="button is-primary is-fullwidth is-rounded" href="{% url 'lesson:edit_lesson' lesson.id %}">
                  Make Changes
                </a>
                <br>
                <form action="{% url 'lesson:delete_lesson' lesson.id %}" method="post">
                  {% csrf_token %}
                  <button class="button is-danger is-outlined is-fullwidth is-rounded" type="submit" name="delete" value="Delete">
                    Delete
                  </button>&nbsp;
                </form>
                {% endif %}

              </div>
            </center>
          </div>
        </div>

      </div>
    </div>
  </div>
</center>

{% endblock content %}
