<!-- show a lesson belonging to any user  -->
{% extends "teach/base.html" %}

{% block content %}

{% load static %}

<!--<div class="no-scroll">-->
<br>
<div style="margin: auto;">
  <center>
    <div class="tile is-8 is-vertical">
      <div class="box front-background">
        <h1 class="title is-2">
          <span style="color:white;">
            Lesson added by:
          </span>
          <span class="main-text-color">
            {{ lesson.teacher.user.username }}
          </span>
        </h1>
        {% if not lesson.is_public %}
        <h3 style="color: red;"><b>This lesson is private.<b></h3>
        {% endif %}
        {% if lesson.is_public %}
        <h3 style="color: green;"><b>This lesson is public.<b></h3>
        {% endif %}
        <h2>
          <span style="color:white;">
            <u>Subject</u>: <b class="is-capitalized">{{ lesson.subject }}</b>
            <br>
            <u>Class</u>: <b class="is-capitalized">{{ lesson.subject_class }}</b>
            <br>
            <small>
              Created: {{lesson.created}}
              <br>
              Updated: {{lesson.updated}}
            </small>
          </span>
          <br>
        </h2>
      </div>
    </div>
  </center>
</div>

<div class="columns is-centered">
  <div class="column">
    <form action="{% url 'quiz:publish_quiz' lesson.id %}" method="get">
      <button class="button is-primary is-fullwidth is-rounded">
        Create a quiz for this lesson
      </button>
    </form>
  </div>
  <div class="column">
    <form action="{% url 'quiz:show_all_quizzes' lesson.id %}" method="get">
      <button class="button is-primary is-fullwidth is-rounded">
        View quizzes for this lesson
      </button>
    </form>
  </div>
</div>

<center>
  <div class="parent columns">
    <div class="parent column box front-background" style='width: 80%; height: 80%;'>

      <div class="column is-centered">
        <div class="column box main-background is-half">
          <span class="main-text-color">
            <u>Lesson Name</u>: <br> <b class="is-capitalized" style="color:white;">{{ lesson.lesson_name}}</b>
          </span>
        </div>
      </div>

      <div class="columns col-container is-centered">
        <div class="scrollable child inline-block-child" style='width: 45%; height: 45%;'>
          <article>
            {% if lesson.img %}
            <div class="box main-background">
              <a href="{% url 'lesson:show_lesson' lesson.id %}">
                <div class="container-img">
                  <figure class="image is-1by1">
                    <img src="{{ lesson.img.url }}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
                  </figure>
                  <img class="icon" src="{{ lesson.icon }}">
                </div>
              </a>
            </div>
            {% endif %}
          </article>
        </div>
        <div class="child inline-block-child main-backgroud" style='width: 45%; height: 45%;'>


          <div class="box main-background tile is-fullwidth">
            <span style="color:white;">
              <div class="main-text-color""><u>Topic</u>:</div> <b class=" is-capitalized" style="color:white;">{{ lesson.topic }}</b>
                <br><br>
                <div class="main-text-color""><u>Description</u>:</div> <b class=" is-capitalized" style="color:white;">{{ lesson.description }}</b>
            </span>
          </div>

          <div class="box main-background tile is-fullwidth">
            <span style="color:white;">
              <div class="columns">
                <div class="column">
                  <div class="main-text-color""><u>Instructions</u>:</div> <b class=" is-capitalized" style="color:white;">{{ lesson.instructions }}</b>
                  </div>
                </div>
            </span>
          </div>

        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="parent" style='width: 90%; height: 90%;'>
            {% if lesson.game_link != None %}
            <form action="{{ lesson.game_link }}" target="_blank" method="get">
              <button class="button is-fullwidth is-rounded is-info" rel="noopener noreferrer">
                Game Link
              </button>
            </form>
            {% endif %}
            {% if lesson.game_link == None %}
            No link to game!
            {% endif %}
          </div>
        </div>
      </div>


      <div class="columns">
        <div class="column">
          <div class="parent" style='width: 90%; height: 90%;'>

            {% if user.id == lesson.teacher.user.id %}
            <form action="{% url 'lesson:edit_lesson' lesson.id %}" method="get">
              <button class="button is-primary is-outlined is-fullwidth is-rounded">
                Make Changes
              </button>
            </form>
            <br>
            <form action="{% url 'lesson:delete_lesson' lesson.id %}" method="post">
              {% csrf_token %}
              <button class="button is-danger is-outlined is-fullwidth is-rounded" type="submit" name="delete" value="Delete">
                Delete
              </button>&nbsp;
            </form>
            {% endif %}

          </div>
        </div>
      </div>

    </div>
  </div>
</center>

{% endblock content %}
