{% extends "teach/base.html" %}

{% block content %}

<head>
  {% load static %}
  <script type='text/javascript' src="{% static 'teach/js/google_map.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'teach/bulma-0.8.0/css/stylesChuck.css' %}" />
</head>

{% if error %}
<h3 class="title is-3" style="color: red">
  <center>{{ error }}</center>
</h3>
{% endif %}

<div class="has-text-centered tile is-ancestor is-5" style="margin: auto" <div class="tile is-8 is-parent">
  <div class="tile is-child box front-background">
    <h1 class="title is-2">
      <span style="color:white;">
        Hello
      </span>
      <span style="color:#1496ed">
        {{ user.username }}
      </span>
    </h1>
    <h4 class="title is-5">
      <span style="color:white;">
        Your lessons are listed below
      </span>
    </h4>
    <a class="button is-info is-medium" href="{% url 'lesson:publish_lesson' %}">
      Make a new lesson
    </a>
    <br><br>

    <!-- List all user's lessons -->
    {% for lesson in my_lessons %}
    <div class="box alt-front-background">
      <div class="box front-background" align="center">
        <b class="is-capitalized" style="color:white;">{{ lesson.lesson_name }}</b>
      </div>
      <div>
        {% if lesson.is_public %}
        <b style="color:green;">Public<b>
        {% else %}
        <b style="color:red;">Private<b>
        {% endif %}
      </div>
      <div class="box front-background">
        <a href="{% url 'lesson:show_lesson' lesson.id %}">
          <div class="container-img">
            <figure class="image is-1by1">
              <img src="{{ lesson.img.url }}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </figure>
            <img class="icon is-small" src="{{ lesson.icon }}">
          </div>
        </a>
      </div>
      <div class="columns">
        <div class="column">
          <a class="button is-success is-fullwidth" href="{% url 'lesson:edit_lesson' lesson.id %}">
            Edit
          </a>
        </div>
        <div class="column">
          <a class="button is-success is-fullwidth" href="{% url 'lesson:switch_public_private' lesson.id %}">
            {% if lesson.is_public %}
            Make Private
            {% else %}
            Make Public
            {% endif %}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
</div>

{% endblock content %}
