<head>
  {% block content %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>teacher</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'teach/bulma-0.8.0/css/bulma.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'teach/bulma-0.8.0/css/stylesChuck.css' %}" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'teach/main.css' %}" />
  <script type='text/javascript' src="{% static 'teach/js/google_map.js' %}"></script>
  {% endblock %}
</head>
