<!DOCTYPE html>
<html lang="en" class="main-background">
<!-- index renders a list of all the teach locations in the DB -->
<!-- should implement a search button at some point -->
{% extends "teach/base.html" %}

{% block content %}

<head>
  {% load static %}
  <script type='text/javascript' src="{% static 'teach/js/google_map.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'teach/bulma-0.8.0/css/stylesChuck.css' %}" />
</head>

<br><br><br>
<div style="margin: auto;">
  <center>
    <div class="box front-background tile is-8 is-vertical">
      <div class="tile is-ancestor">
        <div class="tile is-vertical has-text-centered alt-front-backgroud">
          <h1><br></h1>
          <h2 class="title is-3">
            <span class="main-text-color">
              {% if user %}
              {{ user.username }},
              {% endif %}
            </span>
            <span style="color:white;">
              Welcome to TeachAssist.
            </span>
          </h2>
          <h4 class="title is-5">
            <span style="color:white;">
              Take a look at the list of lessons created by TeachAssist users.
            </span>
          </h4>
        </div>
      </div>
      <br><br><br>
    </div>
  </center>
</div>

<br><br>

<div class="columns is-centered">
  <div class="column is-three-quarters">
    <div class="columns is-centered">

      <div class="column is-one-fifth">
        <div class="box front-background">
          <center>
            <small style='color:white;'><b>Math</b></small>
            <img class="icon" src='https://img.icons8.com/dusk/64/000000/math.png'>
          </center>
        </div>
      </div>

      <div class="column is-one-fifth">
        <div class="box front-background">
          <center>
            <small style='color:white;'><b>Science</b></small>
            <img class="icon" src='https://img.icons8.com/dusk/64/000000/bunsen-burner.png'>
          </center>
        </div>
      </div>

      <div class="column is-one-fifth">
        <form action="{% url 'collections:index_filter' %}" method="post">
          {% csrf_token %}
          <div class="columns is-centered">

            <fieldset>
              <legend>
                <span style="color:white;">
                  <label>Filter by subject:</label>
                </span>
              </legend>
              <div class="control has-icons-left">
                <div class="select is-rounded is-small is-info">
                  <select name="subject" id="subject" onchange="this.form.submit()">
                    <option selected disabled hidden>Select Option</option>
                    <option value="all">All Subjects</option>
                    <option value="math">Math</option>
                    <option value="science">Science</option>
                    <option value="english">English</option>
                    <option value="history">History</option>
                  </select>
                </div>
                <span class="icon is-left">
                  <i class="fas fa-home"></i>
                </span>
              </div>
            </fieldset>

          </div>
        </form>
      </div>

      <div class="column is-one-fifth">
        <div class="box front-background">
          <center>
            <small style='color:white;'><b>English</b></small>
            <img class="icon" src='https://img.icons8.com/dusk/64/000000/class.png'>
          </center>
        </div>
      </div>

      <div class="column is-one-fifth">
        <div class="box front-background">
          <center>
            <small style='color:white;'><b>History</b></small>
            <img class="icon" src='https://img.icons8.com/dusk/64/000000/archeology.png'>
          </center>
        </div>
      </div>

    </div>
  </div>
</div>

<br>

<div class="columns box front-background is-centered is-10">
  <div class="column is-10 is-centered">

    <div class="columns is-multiline is-mobile">
      {% for l in all_lessons %}
      {% if l.is_public %}
      <div class="column is-one-fifth">
        <div class="box alt-front-background">
          <a href="{% url 'lesson:show_lesson' l.id %}">
            <div class="container-img">
              <figure class="image is-1by1">
                <div id="choices" name="choices">
                  <img src="{{ l.img.url }}" class="is-rounded" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
                </div>
              </figure>
              <img class="icon" src="{{ l.icon }}">
            </div>
          </a>
          <small style="color:white;">
            Created: {{ l.created }}
          </small>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

  </div>
</div>

{% endblock content %}

</html>
