{% extends "teach/base.html" %}

{% block content %}

<head>
  {% load static %}
  <script type='text/javascript' src="{% static 'teach/js/google_map.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'teach/bulma-0.8.0/css/stylesChuck.css' %}" />
</head>

<div class="columns">
  <div class="column">
    <div class="has-text-centered tile is-ancestor">
      <div style="margin: auto" class="tile is-8 is-parent">
        <div class="tile is-child box front-background">
          <h1 class="title is-2">
            <span style="color:white;">
              Hello, welcome to TeachAssist!
            </span>
          </h1>
          <h2 class="title is-3">
            <span style="color:white;">
              Find lessons for your class
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>

<div class="columns is-centered">
  <div class="column is-one-fifth">
    <nav class="panel front-background">

      <p class="panel-heading alt-front-background" style="text-align:center">
        <span><strong>
            <span style="color:white;">
              Login
            </span>
          </strong></span>
      </p>

      <div class="panel-block">
        <form action="{% url 'collections:loguser' %}" method="post">
          {% csrf_token %}
          <div>
            <span style="color:red;">
              {{error}}
            </span>
          </div>
          <div class="field">
            <label class="label">
              <span style="color:white;">
                Username
              </span>
            </label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="Username" name="username">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">
              <span style="color:white;">
                Password
              </span>
            </label>
            <div class="control has-icons-left">
              <input class="input" name="password" placeholder="Password" type="password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-success is-rounded is-outlined is-fullwidth" type="submit" value="Login">
                Login
              </button>&nbsp;
            </div>
          </div>
        </form>
      </div>

    </nav>
  </div>
</div>

<br><br><br>

<form class="columns is-centered" action="{% url 'collections:guest' %}" method="post">
  {% csrf_token %}
  <div class="field column is-one-fifth">
    <div class="control">
      <button class="button is-success is-rounded is-outlined is-fullwidth" type="submit" value="Login">
        Log in as guest
      </button>&nbsp;
    </div>
  </div>
</form>

{% endblock content %}
