{% extends "teach/base.html" %}

{% block content %}

<head>
  {% load static %}
  <script type='text/javascript' src="{% static 'teach/js/google_map.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'teach/bulma-0.8.0/css/stylesChuck.css' %}" />
</head>

<div class="columns">
  <div class="column">
    <div class="has-text-centered tile is-ancestor">
      <div style="margin: auto" class="tile is-8 is-parent">
        <div class="tile is-child box front-background">
          <h1 class="title is-2">
            <span style="color:white;">
              Hello, welcome to TeachAssist!
            </span>
          </h1>
          <h2 class="title is-3">
            <span style="color:white;">
              Enter the code for your lesson
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>

<div class="columns is-centered">
  <div class="column is-one-fifth">
    <nav class="panel front-background">

      <p class="panel-heading alt-front-background" style="text-align:center">
        <span><strong>
            <span style="color:white;">
              Code
            </span>
          </strong></span>
      </p>

      <div class="panel-block">
        <form class="columns is-centered is-multiline" action="{% url 'lesson:find_lesson' %}" method="post">
          {% csrf_token %}
          <div class="column is-full">
            <span style="color:red;">
              {{error}}
            </span>
          </div>
          <div class="field column is-full">
            <div class="control">
              <input class="input is-success" type="text" placeholder="Enter Code" name="code">
            </div>
          </div>

          <div class="field column is-full">
            <div class="control">
              <button class="button is-success is-rounded is-outlined is-fullwidth" type="submit" value="Login">
                Submit
              </button>&nbsp;
            </div>
          </div>
        </form>
      </div>

    </nav>
  </div>
</div>

{% endblock content %}
