{% extends "teach/base.html" %}

{% block content %}

<head>
  {% load static %}
  <script type='text/javascript' src="{% static 'teach/js/google_map.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'teach/bulma-0.8.0/css/stylesChuck.css' %}" />
</head>

<div class="columns">
  <div class="column">
    <div class="has-text-centered tile is-ancestor">
      <div style="margin: auto" class="tile is-8 is-parent">
        <div class="tile is-child box front-background">
          <h1 class="title is-2">
            <span style="color:white;">
              Hello, welcome to TeachAssist!
            </span>
          </h1>
          <h2 class="title is-3">
            <span style="color:white;">
              Enter the code for your lesson
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>

<div class="columns is-centered is-multiline">
  <div class="column is-one-fifth">
    <nav class="panel front-background">

      <p class="panel-heading alt-front-background" style="text-align:center">
        <span><strong>
            <span style="color:white;">
              Find Quiz
            </span>
          </strong></span>
      </p>

      <div class="panel-block">
        <form class="columns is-centered is-multiline" action="{% url 'quiz:find_quiz' %}" method="post">
          {% csrf_token %}

          <div class="field column is-full">
            <label class="label">
              <span style="color:white;">
                Enter Name
              </span>
            </label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" type="text" placeholder="Name" name="student_name">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>

          <div class="field column is-full">
            <label class="label">
              <span style="color:white;">
                Quiz Code
              </span>
            </label>
            <div class="control has-icons-left">
              <input class="input" name="code" placeholder="Quiz code" type="text">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field column is-full">
            <div class="control">
              <button class="button is-success is-rounded is-outlined is-fullwidth" type="submit" value="Login">
                Submit
              </button>&nbsp;
            </div>
          </div>
        </form>
      </div>

    </nav>
  </div>

  {% if messages %}
  <ul class="messages column is-full">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} columns is-centered" {% endif %} style="color:red;">
      {{ message }}
      </li>
      {% endfor %}
  </ul>
  {% endif %}

</div>

{% endblock content %}
